<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Berk Altıok</title>

    <meta name="description" content="">
    <link rel="shortcut icon" href="">

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
  </head>
  <body>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <div id="app" class="container">
      <div class="about">
        <div class="about__top">
          <img :src="this.config.about.top.avatar" alt="Photo" class="about__top-image">
          <div class="d-flex">
            <a v-for="item in this.config.about.top.buttons" :href="item.url" :class="['about__top-button', 'about__top-button:'+item.color]">{{ item.text }}</a>
          </div>
        </div>
        <div class="about__content">
          <div class="about__content-name">BIO</div>
          <div class="about__content-title">{{ this.config.about.content.title }}</div>
          <div class="about__content-subtitle">{{ this.config.about.content.subtitle }}</div>
          <div class="about__content-info">{{ this.config.about.content.info }}</div>
          <div class="about__content-icons">
            <a target="_blank" v-for="item in this.config.about.social" :href="item.url"><i :class="'fab fa-'+item.icon"></i></a>
            <span></span>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="footer__copy">Copyright &copy; {{ new Date().getFullYear() }} <strong>{{ this.config.footer.copy }}</strong></div>
        <div class="footer__love">We <span><i class="fas fa-heart"></i> love</span> <a target="_blank" href="https://vuejs.org">VueJS</a></div>
        <div class="footer__links">
          <a target="_blank" v-for="item in this.config.footer.links" :href="item.url">{{ item.text }}</a>
        </div>
      </div>

      <router-view></router-view>
    </div>

    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>