<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Berk Altıok</title>

    <meta name="description" content="">
    <link rel="shortcut icon" href="">

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
  </head>
  <body>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <div id="app">
      <div class="loader" v-show="!load">
        <svg height="60px" width="60px" version="1.1" viewBox="0 0 50 50" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px"><path d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z" fill="#000" transform="rotate(64.6404 25 25)"><animateTransform attributeName="transform" attributeType="xml" dur="0.6s" from="0 25 25" repeatCount="indefinite" to="360 25 25" type="rotate"></animateTransform></path></svg>
      </div>
      <div class="container main" v-if="load" v-show="load" style="display: none;">
        <div class="about">
          <div class="about__top">
            <img :src="this.config.about.top.avatar" alt="Photo" class="about__top-image">
            <div class="d-flex">
              <a target="_blank" v-for="item in this.config.about.top.buttons" :href="item.url" :class="['about__top-button', 'about__top-button:'+item.color]">{{ item.text }}</a>
            </div>
          </div>
          <div class="about__content">
            <div class="about__content-name">BIO</div>
            <div class="about__content-title">{{ this.config.about.content.title }}</div>
            <div class="about__content-subtitle">{{ this.config.about.content.subtitle }}</div>
            <div class="about__content-info">{{ this.config.about.content.info }}</div>
            <div class="about__content-icons">
              <a target="_blank" v-for="item in this.config.about.social" :href="item.url"><i :class="(item.type || 'fab')+' fa-'+item.icon"></i></a>
              <span></span>
            </div>
          </div>
        </div>
        <router-view></router-view>
        <div class="footer">
          <div class="footer__copy">Copyright &copy; {{ new Date().getFullYear() }} <strong>{{ this.config.footer.copy }}</strong></div>
          <div class="footer__love">We <span><i class="fas fa-heart"></i> love</span> <a target="_blank" href="https://vuejs.org">VueJS</a></div>
          <div class="footer__links">
            <a target="_blank" v-for="item in this.config.footer.links" :href="item.url">{{ item.text }}</a>
          </div>
        </div>
      </div>
    </div>

    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>