<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0"
          name="viewport">
    <link rel="manifest" href="config.json">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <title>Berk Altıok</title>

    <meta name="description" content=".">
    <link rel="shortcut icon" href="">
    <link rel="apple-touch-icon" href="">
    <meta name="theme-color" content="#ffffff"/>

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.min.css" rel="stylesheet">
  </head>
  <body>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-router@3.1.3/dist/vue-router.min.js"></script>

    <div id="app">
      <div class="loader" v-show="!load">
        <svg height="60px" width="60px" version="1.1" viewBox="0 0 50 50" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px"><path d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z" fill="#000" transform="rotate(64.6404 25 25)"><animateTransform attributeName="transform" attributeType="xml" dur="0.6s" from="0 25 25" repeatCount="indefinite" to="360 25 25" type="rotate"></animateTransform></path></svg>
      </div>
      <div class="container main" v-if="load" v-show="!view">
        <header class="about">
          <div class="about__top">
            <img :src="this.config.about.top.avatar" alt="Photo" class="about__top-image">
            <nav class="about__top-buttons">
              <a :aria-label="item.text + ' Button'" rel="noopener" target="_blank" v-for="item in this.config.about.top.buttons" :href="item.url" :class="['about__top-button', 'about__top-button:'+item.color]">{{ item.text }}</a>
            </nav>
          </div>
          <div class="about__content">
            <div class="about__content-name">BIO</div>
            <div class="about__content-title">{{ this.config.about.content.title }}</div>
            <div class="about__content-subtitle">{{ this.config.about.content.subtitle }}</div>
            <div class="about__content-info">{{ this.config.about.content.info }}</div>
            <div class="about__content-icons">
              <a :aria-label="item.icon + ' Media'" rel="noopener" target="_blank" v-for="item in this.config.about.social" :href="item.url"><i :class="(item.type || 'fab')+' fa-'+item.icon"></i></a>
              <span></span>
            </div>
          </div>
        </header>
        <main class="portfolio">
          <div class="portfolio__name">Works</div>
          <div class="row">
            <div class="col-6 col-lg-4 col-md-6" @click="openItem(item)" v-for="(item, index) in this.config.portfolio">
              <article class="portfolio__item">
                <img :src="item.thumbnail" :alt="item.title">
                <div class="portfolio__item-content">
                  <div :class="['portfolio__item-tag', 'portfolio__item-tag:' + item.color]">{{ item.tag }}</div>
                  <div class="portfolio__item-title">{{ item.title }}</div>
                </div>
              </article>
            </div>
          </div>
        </main>
        <footer class="footer">
          <div class="footer__copy">Copyright &copy; {{ new Date().getFullYear() }} <strong>{{ this.config.footer.copy }}</strong></div>
          <div class="footer__love">We <span><i class="fas fa-heart"></i> love</span> <a aria-label="VueJS Project Site" rel="noopener" target="_blank" href="https://vuejs.org">VueJS</a></div>
          <div class="footer__links">
            <a :aria-label="item.text + ' Link'" rel="noopener" target="_blank" v-for="item in this.config.footer.links" :href="item.url">{{ item.text }}</a>
          </div>
        </footer>
      </div>
      <div class="view" v-if="view" v-show="view" style="display: none;">
        <div class="view__close" @click="this.close"><i class="far fa-times"></i></div>
        <div class="view__pages">
          <div v-for="(item, index) in this.view.images" class="view__pages-item"  v-show="index === viewActive">
            <img :src="item.image" :alt="item.name">
          </div>
        </div>
        <div class="view__nav">
          <div class="view__nav-item view__nav-left" v-if="this.viewActive !== 0" @click="changeActive('left')"><i class="far fa-chevron-left"></i></div>
          <div class="view__nav-item view__nav-right" v-if="this.viewActive+1 !== this.view.images.length" @click="changeActive('right')"><i class="far fa-chevron-right"></i></div>
        </div>
        <div class="view__footer">
          <div class="view__footer-info">
            <div class="view__footer-info:title">
              {{ this.view.title }}
              <svg width="16" height="16" viewBox="0 0 24 24">
                <g>
                  <path fill="#FFFFFF" id="navigateright-a"
                        d="M13.1485479,12.3531924 L13.1585532,12.3531924 L13.1485479,12.3531924 Z M10.0009007,16.999369 C9.7357619,16.999369 9.47062315,16.895365 9.27352,16.6873571 C8.89432155,16.2863419 8.91133045,15.6533178 9.31254042,15.2733034 L12.7743521,11.999179 L9.31254042,8.72605459 C8.91133045,8.34604015 8.89432155,7.71301609 9.27352,7.31200086 C9.65572001,6.91098562 10.2880509,6.89498501 10.6882604,7.27299937 L14.5442784,10.9191379 C15.1485946,11.5241609 15.1485946,12.4751971 14.5632883,13.0602193 L10.6882604,16.7263586 C10.4951593,16.9093656 10.24803,16.999369 10.0009007,16.999369 Z"></path>
                </g>
              </svg>
              {{ this.view.images[this.viewActive].name }}
            </div>
            <div class="view__footer-info:desc">
              {{ this.viewActive + 1 }} of {{ this.view.images.length }} pages
            </div>
          </div>
          <div class="d-flex">
            <a rel="noopener" aria-label="Show Live" target="_blank" v-if="this.view.live" :href="this.view.live + '?ref=' + window.location.hostname" class="view__footer-button view__footer-button:blue mr-2">Show Live</a>
            <a rel="noopener" aria-label="Whatsapp Share" target="_blank" :href="'http://api.whatsapp.com/send?text='+ this.view.title +' - ' + window.location.href" class="view__footer-button"><svg width="16" height="12">
              <g fill="none" fill-rule="evenodd">
                <path d="M-1-3h18v18H-1z"></path>
                <path d="M10 0l6 5.5-6 5.5V8c-4-.08-7.917 1.2-10 4 .833-4 4.333-8 10-9V0z" fill="#FFF"></path>
              </g>
            </svg> Share</a>
          </div>
        </div>
      </div>
    </div>

    <script src="assets/js/jquery-3.4.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/main.min.js"></script>
  </body>
</html>